/*regole generali*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    background-color: #F6F5F3;
}

/*regole header*/
header{
    background-color: white;
}

h1 {
    color: orange;
    padding-top: 10px;
    padding-left: 30px;
    font-family: 'Nerko One', cursive;
    font-size: 50px;
    padding-bottom: 15px;
}

h3 {
    font-size: 30px;
    font-weight: 600;
}

#food-description * {
    color: #4E3969;
    font-size: 50px;
}

/*regole main*/
main {
    width: 72%;
    margin: 0 auto;
}

#title-main {
    padding-bottom: 30px; 
    padding-top: 30px;
}

#gray-title-part {
    color: #999999;
}

#hide-span {
    font-weight: 700;
    padding-left: 15px;
}

#food-description {
    display: flex;
}

#main-box {
    display: flex;
    padding-bottom: 30px;
}

main p {
    line-height: 25px;
}

.left-box {
    width: 70%;
    /*debug*/
    
}

.left-box img {
    max-width: 100%;
}

.right-box {
    width: 30%;
    background-color: white;
    padding-top: 30px;
    padding-left: 30px;
}

.right-box * {
    line-height: 40px;
    
}

/*regole banner social*/
#banner-social{
    padding-bottom: 30px;
    
}

.social-btn {
    padding:10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 33px;
    padding-left: 30px;
    padding-right: 30px;
}

ul {
    display: flex;
    justify-content: space-between;
    
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

ul i {
    width: 30px;
    height: 30px;
}

hr {
    background-color: yellow;
    width: 10%;
}

#banner-zafferano {
    padding-bottom: 30px;
}

#banner-zafferano img {
    max-width: 100%;
}

#recepie {
    padding-top: 30px;    
    padding-bottom: 50px;
}

/*regole sezione ricetta*/
#tiramisu-pic{
    float:left;
    max-width: 30%;
    padding-right: 20px;
}

.clearfix::after {
  display: table;
  content: '';
  clear: both;
}

#recepie-pic {
    width: 30%;
}

#recepie-text {
    padding-bottom: 30px;
}

/*regole footer*/
footer {
    display: flex;
    justify-content: space-between;
    background-color: #7C69A4;
    color: white;
    padding-bottom: 30px;
}

footer a {
    color: white;
    text-decoration: underline;
}

#left-footer {
    padding-top: 30px;
    padding-left: 30px;
}

#right-footer {
    width: 40%;
}

#right-footer * {
    padding-right: 5px;
    padding-top: 15px;
}

/*media queries*/
/*tablet*/
@media screen and (min-width: 760px) and (max-width: 1080px){
    #main-box {
        display: block;
    }
    .left-box {
        width: 100%;
    }

    #hide-span {
        font-size: 34px;
        padding-top: 15px;
    }

    #banner-social {
        width: 100%;
    }

    #social-nav {
        width: 100%;
    }

    .right-box {
        width: 100%;
        padding-bottom: 30px;
    }

    #note {
        width: 60%;
    }

    .info{
        display: flex;
        padding-right: 20px;
        flex-wrap: wrap;
    }

    #tiramisu-pic {
        max-width: 50%;
    }

    .info div { 
        width: calc(100% / 3 - (10px / 3));
    }

    .social-btn {
        padding-left: 39px;
        padding-right: 23px;
    }

    ul span {
        display: none;
    }

    footer {
        display: block;
    }
    
    #left-footer {
        margin: 0 auto;
        text-align: center;
    }

    #right-footer {
        margin: 0 auto;
        width: 70%;
        padding-bottom: 30px;
    }
}
/*mobile*/
@media screen and (max-width: 760px) {

    header {
        display: flex;
        justify-content: center;
    }

    #banner-zafferano {
        display: none;
    }

    #hide-span {
        display: none;
    }

    #food-description * {
        font-size: 35px;
    }

    .social-btn {
        padding: 5px;
        padding-left: 19px;
    }

    main {
        width: 95%;
    }

    .clearfix::after {
        display: table;
        content: '';
        clear: both;
    }

    #tiramisu-pic {
        float: none;
        display: block;
        max-width: 80%;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    #recepie-text p {
        text-align: justify;
    }

    #main-box {
        display: block;
    }

    .left-box {
        width: 100%;
    }

    .right-box {
        width: 100%;
        padding-bottom: 30px;
    }

    ul span {
        display: none;
    }

    footer {
        display: block;
    }
    
    #left-footer {
        text-align: center;
    }

    #right-footer {
        margin: 0 auto;
        width: 80%;
        padding-bottom: 30px;
    }
}