/*regole generali*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*regole header*/
header{
    /*debug*/
    height: 70px;
    background-color: blueviolet;
}

/*regole main*/
main {
    height: 100%;
    width: 80%;
    margin: 0 auto; 
}

.title-main{
    /*debug*/
    background-color: red;
    height: 100px;
}

#main-box {
    display: flex;
    width: 100%;
    /*debug*/
    height: 500px;
    
}

.left-box {
    width: 70%;
    /*debug*/
    background-color: yellow;
}

.right-box {
    width: 30%;
    /*debug*/
    background-color: plum;
}

/*regole banner social*/
#banner-social{
    /*debug*/
    background-color: blue;
    height: 80px;
}

ul {
    display: flex;
    justify-content: space-between;
}

#banner-zafferano {
    /*debug*/
    background-color: orange;
    height: 80px;
}

#recepie {
    display: flex;
    /*debug*/
    background-color: brown;
    height: 380px;
}

/*regole sezione ricetta*/
#tiramisu-pic{
    float:left;
    max-width: 30%;
}

.clearfix::after {
  display: table;
  content: '';
  clear: both;
}

#recepie-pic {
    width: 30%;
}

#recepie-text {
    display: flex;
    width: 70%;
}

/*regole footer*/
footer {
    /*debug*/
    background-color: black;
    height: 180px;
    display: flex;
    justify-content: space-between;
}

#left-footer {
    width: 30%;
    /*debug*/
    background-color: purple;
    height: 80px;
}

#right-footer {
    width: 30%;
    /*debug*/
    background-color: lightblue;
    height: 80px;
}

/*media queries*/
/*tablet*/
@media screen and (min-width: 760px) and (max-width: 1080px){
    #main-box {
        display: block;
    }

    .left-box {
        width: 100%;
        height: 40%;

    }

    .right-box {
        width: 100%;
        height: 60%;
    }

    ul span {
        display: none;
    }

    footer {
        display: block;
        margin: 0 auto;
    }
    
    #left-footer {
        margin: 0 auto;
    }

    #right-footer {
        margin: 0 auto;
    }
}